body{
  color:#E5E5E5 ;
}

.nav-bar{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 70px;
}

.logo{
 padding-top: 22px;
 padding-left: 30px;
}

.group{
  display: flex;
 align-items: center;
  justify-content: center;
 flex-direction: column;
  padding: 20px;

}

.pics{
  padding-top: 96px;
  max-width: 400px;
  align-self: center;
}
.main-text{
  color: black;
  font-size: 40px;
  padding-top: 36px;
  padding-left: 36px;
  margin-top: 0px;

  

}

.sub-text{
  color: black;

  font-size: 16px;
  font-weight: lighter;
  width: 320px;
  height:56px ;
  padding-left: 36px;


}

.title{
  padding-right: 30%;
  width: 320px;

}

span{
  color: black;
}

p{
  color: black;
}
.grey{
  color: #918E9B;
}

.price{
  font-weight: bold;
  margin: auto;
}
.card{
  width: 175px;
  font-size: 12px;
  margin: 10px;
  flex: 0 0 auto;         
  display: flex;          
  flex-direction: column; 
  position: relative;
}

.cardphoto{
  width: 100%;
  border-radius: 9px;
  margin-bottom: 9px;
  height:235px ;
}

.stats{
  display: flex;
  align-items: center;
}

.star-icon{
  height: 14px;
}

.card-items{
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;

  
}
.card--title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.card--badge {
  position: absolute;
  top: 6px;
  left: 6px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
  color: black;
}